@font-face {
	/* font-family: 'Kenyan Coffee Rg' */
	src: url("../fonts/Kenyan-Coffee-Bold.ttf");
}

@font-face {
	/* font-family: "Saturday Bright"; */
	src: url("../fonts/Saturday-Bright-Italic.ttf");	
}

.root {
	-border-blue: #6085b7;
	-background-blue:  #c1cad4;
	-exit-red: #c95e57;
	-exit-red-hover: #8f3c36;
	-select-blue: #0384fc;
	-clicked-grey: #00000076;
	-highlight-red: #f5e9ec;
}

#screen_title_top {
	-fx-font-family: "Saturday Bright";
	-fx-font-size: 40;
}

#screen_title_bottom {
	-fx-font-family: "Saturday Bright";
	-fx-font-size: 40;
}

#incorrect_login_label {
	-fx-font-family: "System";
	-fx-font-size: 12;
}

.label {
	-fx-font-family: "Kenyan Coffee Rg";
	-fx-font-size: 40;	
}

.menu-item {
	-fx-background-color: -clicked-grey;
}

.menu-item .label {
	-fx-font-size: 14;
	-fx-font-family: "System";
}

.menu-item: focused .label {
	-fx-background-color: -select-blue;
	-fx-border-color: black;
	-fx-border-radius: 2px;	
}

.table-view .column-header {
	-fx-background-color: -border-blue;
}

.table-column .label {
	-fx-font-size: 14;
	-fx-font-family: "System";
}

#login_button {
	-fx-font-family: "Kenyan Coffee Rg";
	-fx-font-size: 40;
	-fx-background-color: -border-blue;
	-fx-background-radius: 15px;
}

#login_button:hover {
	-fx-background-color: -select-blue; 
	-fx-border-color: #000000; 
	-fx-border-radius: 15px
}

#login_button:armed {
	-fx-background-color: #767676;
}

#exit_button {
	-fx-background-color: -exit-red;
}

#exit_button:hover {
	-fx-background-color: -exit-red-hover;
}

#home_button {
	-fx-background-color: -background-blue;
	-fx-border-radius: 7px;
	-fx-border-color: #000000;
}

#home_button:hover {
	-fx-border-color: -select-blue;
	-fx-border-width: 2px;
}

#home_button:armed {
	-fx-border-color: -clicked-grey;
}

#home_canvas .button {
	-fx-border-radius: 7px;
	-fx-border-color: #000000;
}

#home_canvas .button:hover {
	-fx-border-color: -select-blue;
	-fx-border-width: 4px;
}

#home_canvas .button:armed {
	-fx-border-color: -clicked-grey;	
}

#checkout_checkin_button {
	-fx-font-family: "Kenyan Coffee Rg";
	-fx-font-size: 16;
	-fx-background-color: -border-blue;
	-fx-background-radius: 7px;
}

#checkout_checkin_button:hover {
	-fx-background-color: -select-blue; 
	-fx-border-color: #000000; 
	-fx-border-radius: 7px
}

#checkout_checkin_button:armed {
	-fx-background-color: #767676;
}

#borrower_canvas .button {
	-fx-font-family: "Kenyan Coffee Rg";
	-fx-font-size: 24;
	-fx-background-color: -border-blue;
	-fx-background-radius: 7px;
}

#borrower_canvas .button:hover {
	-fx-background-color: -select-blue; 
	-fx-border-color: #000000; 
	-fx-border-radius: 7px
}

#borrower_canvas .button:armed {
	-fx-background-color: #767676;
}

#loan_error {
	-fx-font-family: "System";
	-fx-font-size: 12;
}

#settings_button {
	-fx-background-color: -background-blue;
}

#settings_button:hover .image-view {
	-fx-rotate: -60;
}

#settings_button .arrow-button {
	-fx-padding: 4;
}

#settings_button .arrow-button .arrow {
	-fx-padding: 4;
}

#settings_button .image-view {
	-fx-translate-x: 24;
}

#search_bar_container .label {
	-fx-font-size: 14;
}

#date {
	-fx-font-family: "Lucidia Console";
	-fx-font-size: 14;
}

#borrower_canvas .label {
	-fx-font-size: 20;
}

#borrower_title {
	-fx-font-family: "Kenyan Coffee Rg";
	-fx-font-size: 40;
	
}