@font-face {
	/* font-family: 'Kenyan Coffee Rg' */
	src: url("../fonts/Kenyan-Coffee-Bold.ttf");
}

@font-face {
	/* font-family: "Saturday Bright"; */
	src: url("../fonts/Saturday-Bright-Italic.ttf");	
}

.root {
	-border-blue: #6085b7;
	-background-blue:  #c1cad4;
	-home-grey: #bfbfbf;
	-exit-red: #c95e57;
	-exit-red-hover: #8f3c36;
	-select-blue: #0384fc;
	-clicked-grey: #00000076;
	-highlight-red: #f5e9ec;
	-fx-background-color: -background-blue; 
}

#exit_button {
	-fx-background-color: -exit-red;
}

#exit_button:hover {
	-fx-background-color: -exit-red-hover;
}

.tool-bar {
	-fx-background-color: -background-blue; 
}

.title {
	-fx-font-family: "Saturday Bright";
	-fx-font-size: 40;
}

.label {
	-fx-font-family: "Kenyan Coffee Rg";
	-fx-font-size: 40;	
}

.error {
	-fx-text-fill: red;
	-fx-font-family: "System";
	-fx-font-size: 12;	
}

#success_text {
	-fx-text-fill: -border-blue;
	-fx-font-family: "Kenyan Coffee Rg";
	-fx-font-size: 30;
}

.menu-item {
	-fx-background-color: -clicked-grey;
}

.menu-item .label {
	-fx-font-size: 14;
	-fx-font-family: "System";
}

.menu-item:focused .label {
	-fx-background-color: -select-blue;
	-fx-border-color: black;
	-fx-border-radius: 2px;	
}

.table-view .column-header {
	-fx-background-color: -border-blue;
}

.table-column .label {
	-fx-font-size: 14;
	-fx-font-family: "System";
}

#login_button {
	-fx-font-family: "Kenyan Coffee Rg";
	-fx-font-size: 40;
	-fx-background-color: -border-blue;
	-fx-background-radius: 15px;
}

#login_button:hover {
	-fx-background-color: -select-blue; 
	-fx-border-color: black; 
	-fx-border-radius: 15px
}

#login_button:armed {
	-fx-background-color: -clicked-grey;
}

#home_button {
	-fx-background-color: -background-blue;
	-fx-border-radius: 7px;
	-fx-border-color: black;
}

#home_button:hover {
	-fx-border-color: -select-blue;
	-fx-border-width: 2px;
}

#home_button:armed {
	-fx-border-color: -clicked-grey;
}

.home-grid .button {
	-fx-background-color: -home-grey; 
	-fx-border-radius: 15px;
	-fx-background-radius: 15px;
	-fx-border-width: 5px;
}

.home-grid .button:hover {
	-fx-border-color: -select-blue; 
}

.home-grid .button:armed {
	-fx-background-color: -clicked-grey;	
}

.home-grid .label {
	-fx-font-size: 24;
	-fx-text-fill: -clicked-grey;
}

.action {
	-fx-border-radius: 7px;
	-fx-border-color: black;
	-fx-font-family: "Kenyan Coffee Rg";
	-fx-font-size: 16;
	-fx-background-color: -border-blue;
	-fx-background-radius: 7px;
}

.action:hover {
	-fx-border-color: -select-blue;
	-fx-border-width: 4px;
}

.action:armed {
	-fx-border-color: -clicked-grey;
}

.settings {
	-fx-background-color: -background-blue;
}

.settings:hover .image-view {
	-fx-rotate: -60;
}

.settings .arrow-button {
	-fx-padding: 4;
}

.settings .arrow-button .arrow {
	-fx-padding: 4;
}

.settings .image-view {
	-fx-translate-x: 24;
}

#search_bar_container .label {
	-fx-font-size: 14;
}

#date {
	-fx-font-family: "Lucidia Console";
	-fx-font-size: 14;
}

.borrower-label {
	-fx-font-size: 20;
}

.borrower-title {
	-fx-font-family: "Kenyan Coffee Rg";
	-fx-font-size: 40;
	
}
